/*style like LAU*/
* {
  outline: none;
}

body {
  font-family: "Arial", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

header {
  background-color: #00614b;
  color: white;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 20px;
  background-color: hsl(166, 100%, 9%);
  color: white;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  width: 200px;
  height: 50px;
}

button:hover {
  background-color: hsl(166, 100%, 20%);
  box-shadow: 0 0 5px hsl(166, 100%, 30%);
}

button:focus {
  box-shadow: 0 0 5px hsl(166, 100%, 30%);
}

input {
  border-radius: 0px;
  border-color: black;
  border-width: 0 0 1px 0;
  border-style: solid;
  margin-bottom: 20px;
  font-size: 16px;
  width: 200px;
  height: 30px;
}

input:focus {
  border-radius: 5px;
  border-color: hsl(166, 100%, 30%);
  box-shadow: 0 0 5px hsl(166, 100%, 30%);
}
