* {
  outline: none;
}

body {
  font-family: "Arial", sans-serif;
  height: 100vh;
  margin: 0;
}

h1 {
  font-family: "Times New Roman", "Times New Roman", Times, serif;
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}

header {
  background-color: #016251;
  color: white;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
}
header nav img {
  height: 70px;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: auto;
  position: absolute;
  left: 5px;
}

nav input {
  margin: 0 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  position: absolute;
  right: 5px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

ul li {
  list-style: none;
  margin: 0 10px;
}

ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#topOfEvents {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 80vw;
  height: 10vh;
  background-color: #00614b;
}

#topOfEvents svg {
  position: absolute;
  right: 20px;
  width: fit-content;
  height: 50%;
}

#topOfEvents h2 {
  font-size: 30px;
  color: white;
  margin: 0;
  position: absolute;
  left: 20px;
}

footer {
  background-color: #00614b;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: auto;
  color: white;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
}
